*~
*.a
*.o
*.so*
*.dynlib*
*.user
*.cbp
*.log
obj-*/
doc/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
Doxyfile.html
Doxyfile.man
debian/*
VERSION
./build
/build
./test_build
/test_build
