#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_CMAKE_NORMAL_ARGS := -DCMAKE_INSTALL_PREFIX=/usr \
         -DCMAKE_INSTALL_LIBDIR=/usr/lib

DEB_CONFIGURE_EXTRA_FLAGS += --libdir=\$$(prefix)/lib/$(DEB_HOST_MULTIARCH)

build-indep:
	cd $(DEB_BUILDDIR) && $(MAKE) doc
